.equipe{
    text-align: center;
    padding: 32px;
    
}

.equipe h3{
    font-size: 32px;
    border-bottom: 4px solid ;
    display: inline-block;
    padding-bottom: 8px;
}

.equipe .alunos {
    display: flex;
    justify-content: space-around;
    margin-top: 32x;
    flex-wrap: wrap;
}